modules = ["nodejs-20"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 23411
externalPort = 3000

[userenv]

[userenv.shared]
WEB_PORT = "5173"
BASE_PATH = "/"
API_PORT = "8080"

[agent]
expertMode = true
